# Node
node_modules/
frontend/.next/
frontend/out/

# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.env

# Uploads and Processed files (docker volumes)
backend/uploads/*
backend/processed/*
!backend/uploads/.gitkeep
!backend/processed/.gitkeep

# OS
.DS_Store
Thumbs.db
